*{	
	margin:0px;
	padding:0px;
	box-sizing: border-box; 

}

a{  text-decoration: none; }

body{font-family: 'Montserrat', sans-serif;}

.Padre{

	display:flex;
	flex-flow: column nowrap; 
}

.header{
	
	background: url('img.jpeg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	background-size: cover;
	display: flex;
	flex-flow: column nowrap; 
}
	.menu{

		display: flex;
		flex-flow: row nowrap;
		height: 80px;
		align-items: center;
		border-bottom: 2px solid rgba(255,255,255,.5);

	}

	.logo{	

			flex:2 1 auto;
			text-align: center;

		}
			.logo a{	color: #fff; 	font-size: 25px;  letter-spacing: 2px;	}
				
				.logo a:hover{	font-size: 30px;	}

			.nav{

				font-size: 25px;
				flex:5 1 auto;
	
			}

				.social{

					flex:1 1 auto;
					display: flex;		

				}
					.social a{

						font-size: 15px;
						letter-spacing: 2px;
						color: #fff;
						
					}

	.TextoPrincipal{

			height: 833px;

	}

	@media (max-width: 800px){
      
     .menu{

		display: flex;
		flex-flow: column nowrap;
		height: 150px;
		align-items: center;
		border-bottom: 2px solid rgba(255,255,255,.5);

	}

	@media (max-width: 500px){
      
     .menu{

		display: flex;
		flex-flow: column nowrap;
		height: 120px;
		align-items: center;
		border-bottom: 2px solid rgba(255,255,255,.5);

	}


   }
