*{	
	margin:0px;
	padding:0px;
	box-sizing: border-box; 

}

a{  text-decoration: none; }

body{font-family: 'Montserrat', sans-serif;}

.Padre{

	display:flex;
	flex-flow: column nowrap; 
}

.header{
	
	background: url('img.jpeg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	background-size: cover;
	display: flex;
	flex-flow: column nowrap; 
}
	.menu{

		display: flex;
		flex-flow: row nowrap;
		height: 80px;
		align-items: center;
		border-bottom: 2px solid rgba(255,255,255,.5);

	}
	.persona{
		width: 100%;
		height: 30px;
		font-size: 15px;
		font-family: 'Montserrat', sans-serif;
		margin-top: 20px;
	}
	.logo{	

			flex:2 1 auto;
			text-align: center;

		}
			.logo a{ 
				
				text-decoration: none;	
				color: #fff; 	
				font-size: 25px;  
				letter-spacing: 2px;	
			}
				
			.Bici{
				position: absolute;
				top: 22px;
				color: white;
				text-decoration: none;
				font-size: 25px;  
				letter-spacing: 2px;
				text-transform: uppercase;
				font-family: 'Montserrat', sans-serif;
			}
			.Bici:hover{
				color: white;
			}

			.nav{

				font-size: 25px;
				flex:5 1 auto;
	
			}

				.social{

					flex:1 1 auto;
					display: flex;		

				}
					.social a{

						font-size: 15px;
						letter-spacing: 2px;
						color: #fff;
						
					}

	.TextoPrincipal{

			height: 833px;

	}

	@media (max-width: 800px){
      
     .menu{

		display: flex;
		flex-flow: column nowrap;
		height: 150px;
		align-items: center;
		border-bottom: 2px solid rgba(255,255,255,.5);

	}

	@media (max-width: 500px){
      
     .menu{

		display: flex;
		flex-flow: column nowrap;
		height: 120px;
		align-items: center;
		border-bottom: 2px solid rgba(255,255,255,.5);

	}


   }
